html {
  height: 100%;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*  -webkit-font-smoothing: antialiased;*/
}
body {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}
.Slider {
  width: 16rem;
}
.Slider #prve,
.Slider #next {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 1rem;
  display: block;
  background: #000;
  top: 50%;
  transform: translateY(-50%);
}
.Slider #prve {
  left: 0;
}
.Slider #next {
  right: 0;
}
.Slider .sliderbox {
  overflow: hidden;
  height: 5.8rem;
  position: relative;
}
.Slider .sliderbox .imgbox {
  transition: all .3s;
  position: absolute;
}
.Slider .sliderbox .imgbox li {
  float: left;
}
.Slider .sliderbox img {
  width: 16rem;
}
.Slider .sliderbox .sliderBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  bottom: 0.5rem;
}
.Slider .sliderbox .sliderBtn li {
  max-width: 20px;
  max-height: 20px;
  width: 0.5rem;
  height: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  float: left;
  margin-left: 0.3rem;
}
.Slider .sliderbox .sliderBtn .on {
  background: rgba(0, 0, 0, 0.8);
}
.Slider .sliderbox .sliderBtn li:nth-of-type(1) {
  margin-left: 0;
}
.fixednav {
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 2rem;
  line-height: 2rem;
  background: #fff;
  border-top: 1px solid #eaeaea;
}
.fixednav ul li {
  width: 25%;
  text-align: center;
  font-size: 0.6rem;
  float: left;
  color: #666;
}
/*.playHappy{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  .backGame{
    width: 100%;
    position: relative;
    height: 100%;
    #game{
      height:110%;
      width: 200%;
      background: url("../img/wow.jpg") no-repeat center center;
      background-size: auto 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    .move{
      animation:playGame 0.7s 5;
      -webkit-animation: playGame 0.7s 5;
      -o-animation:playGame 0.7s 5;
      -moz-animation:playGame 0.7s 5;
      -ms-animation:playGame 0.7s 5;
    }
  }
@keyframes playGame{
  0%{
    transform: translate(-50%,-50%) rotate(2deg);
  }
  10%{
      transform: translate(-50%,-50%) rotate(-2deg);
  }
  20%{
    transform: translate(-50%,-50%) rotate(2deg);
  }
  30%{
    transform: translate(-50%,-50%) rotate(-2deg);
  }
  40%{
    transform: translate(-50%,-50%) rotate(2deg);
  }
  50%{
    transform: translate(-50%,-50%) rotate(-2deg);
  }
  60%{
    transform: translate(-50%,-50%) rotate(2deg);
  }
  70%{
    transform: translate(-50%,-50%) rotate(-2deg);
  }
  80%{
    transform: translate(-50%,-50%) rotate(2deg);
  }
  90%{
    transform: translate(-50%,-50%) rotate(-2deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
}
@-webkit-keyframes playGame{
    0%{
      -webkit-transform: translate(-50%,-50%) rotate(2deg);
    }
    10%{
      -webkit-transform: translate(-50%,-50%) rotate(-2deg);
    }
    20%{
      -webkit-transform: translate(-50%,-50%) rotate(2deg);
    }
    30%{
      -webkit-transform: translate(-50%,-50%) rotate(-2deg);
    }
    40%{
      -webkit-transform: translate(-50%,-50%) rotate(2deg);
    }
    50%{
      -webkit-transform: translate(-50%,-50%) rotate(-2deg);
    }
    60%{
      -webkit-transform: translate(-50%,-50%) rotate(2deg);
    }
    70%{
      -webkit-transform: translate(-50%,-50%) rotate(-2deg);
    }
    80%{
      -webkit-transform: translate(-50%,-50%) rotate(2deg);
    }
    90%{
      -webkit-transform: translate(-50%,-50%) rotate(-2deg);
    }
    100%{
      -webkit-transform: translate(-50%,-50%) rotate(0deg);
    }
}
  .fixednav{
    background-color: transparent;
    a{
      color: #FFF;
    }
  }
}*/
.playGame {
  height: 100%;
  background: url("../img/gamePlay/bg.jpg") no-repeat left top;
  background-size: 100% auto;
}
.playGame .containerWrap {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: relative;
}
.playGame .containerWrap .animationBoat {
  width: 11rem ;
  height: 12rem;
  left: 25%;
  top: 11rem;
  position: absolute;
  background: url("../img/gamePlay/degmove.png") no-repeat left center;
  background-size: 100% auto;
  transform: rotate(0deg);
  transform-origin: 50% 80%;
}
.playGame .containerWrap .animationBoat .toop {
  position: absolute;
  font-size: 0.4rem;
  width: 6.2rem;
  height: 5rem;
  left: -3rem;
  background: url("../img/gamePlay/toops.png") no-repeat left center;
  background-size: 100% auto;
}
.playGame .containerWrap .animationBoat .toop .rotateTran {
  font-size: 0.6rem;
  line-height: 0.6rem;
  font-weight: bold;
  transform: translate(0.3rem, 2.25rem) rotate(-11deg);
}
.playGame .containerWrap .animationBoat .toop .rotateTran b {
  font-size: 0.7rem;
  color: red;
  display: inline;
}
.playGame .containerWrap .boatmove {
  -webkit-animation: boat ease 0.6s 4;
  animation: boat ease 0.6s 4;
}
@keyframes boat {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes boat {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(4deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
.alertbackground {
  width: 100%;
  font-size: 0.7rem;
  text-align: center;
  position: fixed;
  bottom: 2rem;
  padding: 0 0.5rem;
}
.alertbackground .conWrap {
  padding: 0 7px;
}
.alertbackground .conWrap .conta {
  padding: 18px 0;
  box-shadow: 0 0 4px #ffffff;
  background: #fff;
}
.alertbackground .conWrap .conta #close {
  padding: 0 0.5rem;
  text-align: right;
  display: block;
  line-height: 1rem;
  height: 1rem;
}
.alertbackground .conWrap .conta .imgbox {
  display: block;
  padding: 0 10px;
  height: 8.5rem;
  overflow: hidden;
}
.alertbackground .conWrap .conta .imgbox img {
  width: 100%;
}
.alertbackground .conWrap .conta .logoMon li {
  line-height: 1rem;
}
.alertbackground .conWrap .conta .logoMon .accId {
  width: 3.2rem;
  height: 3.2rem;
  overflow: hidden;
  border-radius: 1000%;
  border: 1px solid #eaeaea;
  margin: 10px auto;
}
.alertbackground .conWrap .conta .logoMon .accId img {
  width: 100%;
}
.alertbackground .conWrap .conta #btn {
  background-color: #fcaa18;
  text-align: center;
  height: 1.9rem;
  line-height: 1.9rem;
  color: #fff;
  width: 11rem;
  border-radius: 5px;
  display: block;
  margin: 18px auto 0 ;
}
.alertbackground .againGame {
  position: relative;
  color: #fff;
  height: 1.9rem;
  line-height: 1.9rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #ff3334;
}
.alertbackground .againGame:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1.9rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: -20px;
  left: 0;
  z-index: -1;
  background: #b92a2c;
}
.record {
  padding: 0 0 2.2rem 0 ;
}
.record .money {
  height: 13.8rem;
  padding: 1.25rem 0 0 0;
}
.record .money .wechatImg {
  margin: 0 auto;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #333;
  overflow: hidden;
}
.record .money .wechatImg img {
  width: 100%;
}
.record .money .myBalanceTit,
.record .money .addUp {
  line-height: 1.6rem;
}
.record .money .myBalanceNum {
  font-size: 0.6rem;
  color: #f12d12;
}
.record .money .myBalanceNum b {
  font-size: 1.3rem;
}
.record .money .addUp {
  display: block;
  font-size: 0.6rem;
  text-align: center;
  color: #999999;
}
.record .money .btnbox {
  padding: 0 2.9rem;
}
.record .money .btnbox li {
  text-align: center;
  float: left;
  font-size: 0.6rem;
}
.record .money .btnbox a {
  display: block;
  background: transparent;
  width: 4.8rem;
  color: #fff;
}
.record .money .btnbox .cash {
  background: #f03820;
  margin-left: 12px;
}
.record .money .btnbox .credit {
  background: #f49105;
}
.record .detailTit {
  line-height: 2rem;
  height: 2rem;
  background-color: #f2f2f2;
  font-size: 0.6rem;
  text-indent: 13px;
}
.record .record_detail {
  background-color: #fff;
  padding: 0 13px;
}
.record .record_detail li {
  font-size: 0.6rem;
  line-height: 0.8rem;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}
.record .record_detail li p {
  color: #666;
}
.record .record_detail li .numWho h4 {
  color: #00ae00;
}
.record .record_detail li .error h4 {
  color: #f03820;
}
.record .record_detail li .titTime {
  color: #323232;
}
.record .record_detail li:nth-last-of-type(1) {
  border: 0;
}
.takeMoney {
  padding: 14px 14px 2.2rem 14px ;
  width: 100%;
  background-color: #f2f2f2;
}
.takeMoney .titwrap {
  margin-bottom: 1rem;
  padding: 10px 2px 8px 2px;
  line-height: 1.4rem;
  color: #000;
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  font-size: 0.6rem;
}
.takeMoney .titwrap .allTake {
  color: #666;
}
.takeMoney .titwrap .common {
  padding: 0 8px;
}
.takeMoney .titwrap .nowCash {
  height: 1.3rem;
  border-top: 1px dashed #eaeaea;
  position: relative;
  color: #323232;
}
.takeMoney .titwrap .nowCash b {
  color: #f47f01;
}
.takeMoney .titwrap .nowCash::after,
.takeMoney .titwrap .nowCash::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f2f2f2;
  top: -5px;
}
.takeMoney .titwrap .nowCash::after {
  left: -5px;
}
.takeMoney .titwrap .nowCash::before {
  right: -5px;
}
.takeMoney .titwrap i.iconfont {
  font-size: 0.8rem;
  color: #fad930;
}
.takeMoney .titwrap input {
  line-height: 1.4rem;
  font-size: 0.5rem;
  text-indent: 10px;
  color: #000;
}
.takeMoney .titwrap input::-webkit-input-placeholder {
  color: #999;
}
.takeMoney a.base-btn {
  width: 100%;
  font-size: 0.7rem;
  letter-spacing: 2px;
  line-height: 1.8rem;
  background-color: #ea5413;
}
.takeMoney p.p-detail {
  font-size: 0.6rem;
  text-align: center;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}
.takeMoney p.p-detail b {
  color: #f47f01;
}
.takeMoney .rules {
  font-weight: normal;
  font-size: 0.65rem;
  line-height: 1rem;
  color: #666;
}
.takeMoney .rules h4 {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #000;
}
.integral {
  /*.iconfont{
    font-size: 0.5rem;
  }*/
  font-size: 0.5rem;
}
.integral .titleWrap {
  color: #fff;
  background-color: #d35017;
}
.integral .titleWrap .commonLeft {
  padding-left: 14px;
}
.integral .titleWrap .commonP {
  padding-top: 0.65rem;
}
.integral .titleWrap .havInter {
  padding: 1rem 0 1.5rem;
  text-align: center;
}
.integral .titleWrap .havInter strong {
  font-size: 1.5rem;
}
.integral .titleWrap .classify {
  height: 2.5rem;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 0 14px;
}
.integral .titleWrap .classify li {
  border-right: 1px solid #f1f1f1;
  width: 50%;
  float: left;
}
.integral .titleWrap .classify li:nth-last-of-type(1) {
  border: none;
}
.integral .titleWrap .classify p {
  color: rgba(255, 255, 255, 0.8);
}
.integral .titleWrap .classify h2 {
  line-height: 1rem;
  font-size: 0.8rem;
}
.integral .listCount {
  margin-top: 20px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  padding-left: 14px;
  line-height: 1.3rem;
  margin-bottom: 80px;
}
.integral .listCount .CountTit {
  padding: 8px 14px 8px 0;
}
.integral .listCount .CountTit .btnRecode {
  padding: 0 8px;
  border: 1px solid #50c250;
  border-radius: 4px;
  color: #50c250;
}
.integral .listCount a.listType {
  padding: 8px 14px 8px 0;
  display: block;
  border-top: 1px solid #eaeaea;
}
.integral .listCount a.listType i.iconfont {
  font-weight: lighter;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 4px;
}
.integral .listCount a.listType i.iconfont pre {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.9);
}
.integral .listCount a.listType i.phoneMon {
  background: #50c250;
}
.integral .listCount a.listType i.inter {
  background: #fe5768;
}
.integral .listCount a.listType i.message {
  background: #eb9f2d;
}
.integral .listCount a.listType i.traffic {
  background: #3f82db;
}
.integral .listCount a.listType i.more {
  background: #4fc44e;
}
.integral .listCount p {
  margin-left: 10px;
}
.Market {
  background-color: #fff;
}
.Market .titTop {
  padding-left: 14px;
  line-height: 1.9rem;
  font-size: 0.5rem;
  border-bottom: 1px solid #eaeaea;
}
.Market .titTop b {
  color: #ff7700;
}
.Market .titTop .takeRe {
  display: block;
  width: 4.2rem;
  color: #fff;
  text-align: center;
  font-size: 0.6rem;
  background-color: #06bf04;
}
.Market .section li {
  float: left;
  width: 8rem;
  height: 8rem;
  padding: 30px 2rem 0;
  border: 1px solid #eaeaea;
  border-top: none;
}
.Market .section li h4 {
  text-align: center;
  font-size: 0.5rem;
  line-height: 1rem;
}
.Market .section li p {
  color: #ff7700;
  text-align: center;
  margin-top: 10px;
  font-size: 0.5rem;
}
.Market .section li p i.iconfont {
  color: #999;
}
.Market .section li .monWrap {
  width: 100%;
  text-align: center;
  border-radius: 2px;
  color: #fe5768;
  padding: 10px 0;
  border: 1px solid #eaeaea;
  border-top: 2px solid #ff7700;
}
.Market .section li:nth-of-type(2n) {
  border-left: none;
}
.Market a.abtn {
  display: block;
  color: #5f7593;
  line-height: 2.5rem;
  max-height: 55px;
  font-size: 0.5rem;
  text-align: center;
}
.convert {
  font-size: 0.6rem;
}
.convert .format {
  padding: 0 14px;
}
.convert .CustomerPhone {
  height: 1.9rem;
  line-height: 1.9rem;
  color: #666;
}
.convert .phoneCon {
  background-color: #fff;
  height: 2rem;
  line-height: 2rem;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.convert .phoneCon .pull-right {
  color: #666;
}
.convert .formSubmit {
  padding-left: 14px;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  margin-top: 0.8rem;
  background-color: #fff;
}
.convert .formSubmit li {
  padding-right: 14px;
  line-height: 2rem;
  height: 2.1rem;
  border-top: 1px solid #eaeaea;
}
.convert .formSubmit li p {
  float: left;
}
.convert .formSubmit li .yellow {
  color: #ff7d07;
}
.convert .formSubmit li .numBalance i + div {
  line-height: 2rem;
  display: inline-block;
}
.convert .formSubmit li .numBalance i.iconfont {
  color: #999;
  width: 0.8rem;
  font-size: 0.8rem;
}
.convert .formSubmit li .numBalance input {
  font-size: 0.6rem;
  text-align: center;
  width: 2rem;
  height: 1.3rem;
  border: 1px solid #eaeaea;
}
.convert .formSubmit li .numBalance div {
  padding: 0 10px;
}
.convert .formSubmit li span {
  display: block;
  float: right;
}
.convert .formSubmit li:nth-of-type(1) {
  border-top: none;
}
.convert a.abtn {
  margin: 20px 0;
  text-align: center;
  display: block;
  width: 100%;
  color: #fff;
  line-height: 2rem;
  height: 2rem;
  font-size: 0.8rem;
  background-color: #06bf04;
  border-radius: 4px;
}
.convert .explain {
  display: block;
  text-align: center;
  color: #617794;
  font-size: 0.5rem;
}
